<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Grupo de Estudos de Programação Funcional - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">Grupo de Estudos de Programação Funcional</a>
            </div>
            <nav>
                <a href="/">Página Inicial</a>
                <a href="/encontros.html"a>Relatórios Encontros</a>
				<a href="/">Tutorial Haskell</a>
				<a href="/">Artigos</a>
				<a href="/">Referências</a>
				<a href="/about.html">Sobre</a>
                <a href="/contact.html">Contato</a>
            </nav>
        </header>

        <main role="main">
            <h1>$title$</h1>
            $body$
        </main>

        <footer>
            Site orgulhosamente gerado por
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </footer>
    </body>
</html>
